@charset "UTF-8";
/* CSS Document */

/* Box Sizing Reset */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Images  - Max-Width Reset */
img {
    max-width: 100%;
    height: auto;
}

body {
    background-color: #6C6C6C;
    background-image: url(../images/BCIT-background.jpg);
    background-repeat: no-repeat;
	background-position-x: center;
    margin: 0;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}

h1, h2, h3, h4, h5, nav a {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    height: 100vh; 
}