@media only screen and (max-width: 580px) {
	body {
		background-image: url(../images/BCIT-background_580.jpg);
	}

	/* Mobile Navigation Styles */
	button.menu {
		display: block;
		width: 40px;
		background-color: transparent;
		border: none;
		padding: 0;
	}
	button.menu .button-content {
		display: block;
		height: 30px;
		cursor: pointer;
	}
	button.menu .text {
		position: absolute;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		border: 0;
	}
	button.menu .bar {
		display: block;
		height: 4px;
		background-color: whitesmoke;
		position: relative;
		top: 10px;
		transition: all 0.3s ease-in-out;
	}
	button.menu .bar:before {
		content: '';
		width: 100%;
		height: 4px;
		top: 10px;
		left: 0;
		background-color: whitesmoke;
		position: absolute;
		transition: all 0.3s ease-in-out;
	}
	button.menu .bar:after {
		content: '';
		width: 100%;
		height: 4px;
		top: -10px;
		left: 0;
		background-color: whitesmoke;
		position: absolute;
		transition: all 0.3s ease-in-out;
	}
	button.menu:focus,
	.button-content:focus {
		outline: none;
	}
	.show button.menu .bar {
		background-color: transparent;
	}
	.show button.menu .bar:before {
		top: 0;
		transform: rotate(45deg);
	}
	.show button.menu .bar:after {
		top: 0;
		transform: rotate(-45deg);
	}
	nav {
		height: 0;
		overflow: hidden;
		width: calc(100% + 60px);
		background-color: rgba(0, 0, 0, 0.2);
		transition: height 0.3s ease;
	}
	.show nav {
		height: 160px;
	}
	/* End - Mobile Navigation Styles */

	header {
		grid-template-columns: 0.5fr 1fr 0.2fr;

		align-items: center;
		justify-items: center;

		margin: 0;
		padding: 0;
	}

	/* the BCIT logo */
	header a:first-child {
		grid-column: 1 / 2;

		padding-left: 1vw;
	}

	header h1 {
		grid-column: 2 / 3;

		font-size: 1.4em;
		transform: translateX(-2vh);
	}

	header .menu {
		grid-column: 3 / 4;

		padding-right: 1vw;
	}

	header nav li {
		width: 100%;
	}

	header nav {
		grid-column: 1 / 4;
	}

	header img {
		width: 60%;
	}

	nav {
		height: 0;
		overflow: hidden;
		width: 100%;
		transition: height 0.3s ease;
	}

	nav ul {
		display: block;
	}

	nav a {
		line-height: 40px;
		border-bottom: 1px solid black;
		border-top: 1px solid #afafaf;
	}

	nav li:last-child a {
		border-bottom: none;
	}

	.show nav {
		height: 172px;
	}
}
