@charset "utf-8";
/* CSS Document */

// .wrapper {
//     background-color: rgba(255, 255, 255, 0.8); 
//     background-image: none;
// }

.wrapper main {
    background-color: rgba(255, 255, 255, 0.8); 
    background-image: none;

    // padding: 0 3vmin;
    padding-left: 3vmin;
    padding-right: 3vmin;
}