// Colors
$header-bg-color: rgba(0, 0, 0, 0.5);
$nav-bg-color: rgba(0, 0, 0, 0.2);
$link-bg-color: rgba(255, 255, 255, 0.2);
$footer-bg-color: rgba(0, 0, 0, 0.8);

$text-color: whitesmoke;

// Fonts
$body-font: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
$heading-font: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";