/*
Error: It's not clear which file to import for '@import "contact"'.
       Candidates:
         _contact.scss
         contact.scss
       Please delete or rename all but one of these files.
        on line 12 of scss/styles.scss

7: // Site Sections
8: @import 'typography';
9: @import 'header';
10: @import 'main';
11: @import 'footer';
12: @import 'contact';
13: @import 'schedule';
14: @import 'outline';
15: @import 'tablet_580px';
16: @import 'tablet_320px';

Backtrace:
scss/styles.scss:12
C:/Apps/Ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/tree/import_node.rb:67:in `rescue in import'
C:/Apps/Ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/tree/import_node.rb:44:in `import'
C:/Apps/Ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/tree/import_node.rb:28:in `imported_file'
C:/Apps/Ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/tree/import_node.rb:37:in `css_import?'
C:/Apps/Ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:310:in `visit_import'
C:/Apps/Ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Apps/Ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
C:/Apps/Ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/stack.rb:79:in `block in with_base'
C:/Apps/Ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/stack.rb:135:in `with_frame'
C:/Apps/Ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/stack.rb:79:in `with_base'
C:/Apps/Ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/Apps/Ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
C:/Apps/Ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/tree/visitors/base.rb:52:in `map'
C:/Apps/Ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/Apps/Ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
C:/Apps/Ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
C:/Apps/Ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
C:/Apps/Ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/tree/visitors/base.rb:36:in `block in visit'
C:/Apps/Ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
C:/Apps/Ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Apps/Ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:157:in `visit'
C:/Apps/Ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:10:in `visit'
C:/Apps/Ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/tree/root_node.rb:36:in `css_tree'
C:/Apps/Ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
C:/Apps/Ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/engine.rb:389:in `_render_with_sourcemap'
C:/Apps/Ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/engine.rb:307:in `render_with_sourcemap'
C:/Apps/Ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
C:/Apps/Ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/Apps/Ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/plugin/compiler.rb:209:in `each'
C:/Apps/Ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Apps/Ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/plugin/compiler.rb:294:in `watch'
C:/Apps/Ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/plugin.rb:109:in `method_missing'
C:/Apps/Ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/exec/sass_scss.rb:358:in `watch_or_update'
C:/Apps/Ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/exec/sass_scss.rb:51:in `process_result'
C:/Apps/Ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/exec/base.rb:50:in `parse'
C:/Apps/Ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/exec/base.rb:18:in `parse!'
C:/Apps/Ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.7/bin/sass:13:in `<top (required)>'
C:/Apps/Ruby/bin/sass:23:in `load'
C:/Apps/Ruby/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: It's not clear which file to import for '@import \"contact\"'.\A        Candidates:\A          _contact.scss\A          contact.scss\A        Please delete or rename all but one of these files.\A         on line 12 of scss/styles.scss\A \A 7: // Site Sections\A 8: @import 'typography';\A 9: @import 'header';\A 10: @import 'main';\A 11: @import 'footer';\A 12: @import 'contact';\A 13: @import 'schedule';\A 14: @import 'outline';\A 15: @import 'tablet_580px';\A 16: @import 'tablet_320px';"; }
